<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
     <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="vRig.Properties.Settings.VRIGDATAConnectionString"
      connectionString="Server=(localdb)\MSSQLLocalDB; Integrated Security=true; AttachDbFilename=vRigData.mdf;Initial Catalog=VRIGDATA; "
      providerName="System.Data.SqlClient" />
    <add name="vRig.Properties.Settings.utilityConnectionString"
      connectionString="Server=(localdb)\MSSQLLocalDB; Integrated Security=true; AttachDbFilename=utility.mdf;"
      providerName="System.Data.SqlClient" />
    <add name="vRig.Properties.Settings.VRIGDATAConnectionString2"
      connectionString="Data Source=cmwSurface;Initial Catalog=Utility;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="vRig.Properties.Settings.vRigDataConnectionString1"
      connectionString="Data Source=.;Initial Catalog=vRigData;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="vRig.Properties.Settings.vRigDataConnectionString3"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\vRigData.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="vRig.Properties.Settings.vRigDataConnectionString4"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\vRigData.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
</configuration>
