<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
     <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
 <!-- 
    <add name="vRig.Properties.Settings.VRIGDATAConnectionString" connectionString="Server=(localdb)\MSSQLLOCALDB; Integrated Security=true; AttachDbFilename=|DataDirectory|\vRigData\vRigData.mdf;Initial Catalog=VRIGDATA; " providerName="System.Data.SqlClient"/>
    <add name="vRig.Properties.Settings.utilityConnectionString" connectionString="Server=(localdb)\MSSQLLOCALDB;Integrated Security=true; AttachDbFilename=|DataDirectory|\vRigData\utility.mdf;Initial Catalog=utility;" providerName="System.Data.SqlClient"/>  
    -->
<!--
    <add name="vRig.Properties.Settings.VRIGDATAConnectionString" connectionString="Server=(localdb)\vRigDB; Integrated Security=true; AttachDbFilename=c:\vRigData\vRigData.mdf;Initial Catalog=VRIGDATA; " providerName="System.Data.SqlClient" />
    <add name="vRig.Properties.Settings.utilityConnectionString" connectionString="Server=(localdb)\vRigDB;Integrated Security=true; AttachDbFilename=c:\vRigData\utility.mdf;" providerName="System.Data.SqlClient" />
    -->
   
  
    <add name="vRig.Properties.Settings.VRIGDATAConnectionString" connectionString="Data Source=cmwSurface;Initial Catalog=VRIGDATA;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="vRig.Properties.Settings.utilityConnectionString" connectionString="Data Source=cmwSurface;Initial Catalog=utility;Integrated Security=True" providerName="System.Data.SqlClient" />
   
  </connectionStrings>
 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
</configuration>
